//==================================BackgroundColor========================================//

$bodyBackgroundColor: #bcb3ff;
$inputBackgroundColor: rgb(233, 219, 246);
$formBackgroundColor: white; 
$entryBackgroundColor: #bcb3ff74;
$hoverBackgroundColor: #9400d3;
$inputButtonBackgroundColor: #d8d6d6;
$colorBtnAndHover: #ffffff;
$inputAndBtnBackgroundColor: rgb(177, 141, 229);
$onlyBtnBackgroundColor: #bcb3ff;
//==================================Color========================================//

$inputColor: rgb(2, 3, 53);
$inputPlaceholderColor: rgb(86, 13, 155);
$opacity0: 0;


