//=====================INPUT=============================//
$inputPadding: 10px 20px;

//=====================BORDER=============================//
$borderRadius50: 50px;
$borderRadius10: 10px;
$borderRadius5: 5px;
$borderNone: none;
$borderRadius20: 20px;
$borderRadius0: 0;
//=====================PADDING=============================//
$padding10: 10px;
$paddingLeft40: 40px;

//=====================MARGIN=============================//
$marginBottom15: 15px;
$marginBottom10: 10px;

//=====================FONT=============================//
$fontSizeRem: 1.5rem;
$fontSize17: 17px;
$fontWeight999: 999;
$fontWeight750: 750;


//=====================WIDTH=============================//
$widthInput: 100%;


//=====================GAP=============================//
$gap5: 5px;
$gap10: 10px;